$bg-1: #003EFF;
$bg-2: #1E90FF;

$font: #FFFFFF;

body {
  background: $bg-1;
  background: -webkit-linear-gradient(right, $bg-1, $bg-2);
  background: -o-linear-gradient(right, $bg-1, $bg-2);
  background: linear-gradient(to left, $bg-1, $bg-2);
  color: $font;
}

.albums {
  display: grid;
  .album {
    display: grid;
  }
}
